################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/nghieppv-service/.idea
/src/nghieppv-service/.vs/nghieppv-service
/src/nghieppv-service/nghieppv-service.sln.DotSettings.user
/src/nghieppv-service/Nghiep188.Api/Nghiep188.Api.csproj.user
/src/nghieppv-service/Nghiep188.Api/obj
/src/nghieppv-service/Nghiep188.Api/bin/Debug/net7.0
/src/nghieppv-service/Nghiep188.Application/obj
/src/nghieppv-service/Nghiep188.Application/bin/Debug/net7.0
/src/nghieppv-service/Nghiep188.ConsoleApp/bin/Debug/net7.0
/src/nghieppv-service/Nghiep188.ConsoleApp/obj
